APP_KEY=base64:PASTE_KEY_FROM_artisan_key_generate_show
MEDIA_DISK=s3
LIVEWIRE_TEMPORARY_FILE_UPLOAD_DISK=s3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_URL=
AWS_ENDPOINT=
AWS_USE_PATH_STYLE_ENDPOINT=false
